@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&family=Playball&display=swap');

body{
    font-family: 'Lexend Deca', sans-serif;
    height: 100vh; 
    display: grid;
    color: #666666;
}

.root{
    height: 100%;
}

* {
    box-sizing: border-box;
}